@tailwind base;
@tailwind components;
@tailwind utilities;

.picture {
    @apply flex-col-reverse;
}

.true {
    @apply w-64;
    @apply h-32;
    @apply mt-3;
    @apply mr-3;
    @apply shadow-md;
}


.text {
    @apply flex-col;
}

h2 {
    @apply text-2xl;
    @apply font-semibold;
    @apply my-6;
    @apply text-gray-900;
}

p {
    @apply text-gray-700;
    @apply text-lg;
}

div:has(.card:hover) .card:not(:hover) {
    filter: blur(1px);
    opacity: 0.5;
    transform: scale(0.99);
    transition: all 0.3s ease;
}

.card:hover {
    transform: scale(1.01);
}

ul:has(.popup-item:hover) .popup-item:not(:hover) {
    filter: blur(1px);
    opacity: 0.5;
    transform: scale(0.95);
    transition: all 0.3s ease;
  }
  
  
  